
# Vim stuff
/vim/.netrwhist
/vim/bundle
/vim/view
.dein-installer.sh

# Poetry/Python
poetry/auth.toml
vim/pack/kite
alfred/Alfred.alfredpreferences/remote/images/
alfred/Alfred.alfredpreferences/remote/pages/
