/zsh/.zcompdump*
/zsh/.zsh_history
/zsh/.zsh_sessions
/zsh/.zfunc/_*
.zshrc.local
*.zwc

# Vim stuff
/vim/.netrwhist
/vim/bundle
/vim/view
/vim/plugged
/vim/autoload/plug.vim

alfred/Alfred.alfredpreferences/remote/images/
alfred/Alfred.alfredpreferences/remote/pages/

# Poetry/Python
poetry/auth.toml
ipython/profile_default/history.sqlite

# All .local customizations
*.local
.cache/

# Alfred prefs
alfred/**/prefs.plist

# Fish
/fish/fish_variables
/fish/fisher/
/fish/cache/
/fish/conf.d/local.fish
