 
[submodule ".vim/bundle/repos/github.com/Shougo/dein.vim"]
	path = vim/bundle/repos/github.com/Shougo/dein.vim
    url = https://github.com/Shougo/dein.vim.git
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	branch = master
