 
[submodule ".zsh/custom/themes/powerlevel9k"]
    path = .zsh/custom/themes/powerlevel9k
    url = https://github.com/bhilburn/powerlevel9k.git
    branch = master
[submodule ".vim/bundle/repos/github.com/Shougo/dein.vim"]
    path = .vim/bundle/repos/github.com/Shougo/dein.vim
    url = https://github.com/Shougo/dein.vim.git
