"*":
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "metrics"
      "linter-python-pep8"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 4
    tabLength: 4
  "exception-reporting":
    userId: "1a743eaf-a8a8-050d-ec12-e52437e24ab5"
  "fold-functions":
    autofoldGrammars: [
      "Python"
    ]
    skipAutofoldWhenOnlyOneFunction: true
  "git-diff":
    showIconsInEditorGutter: true
  global:
    whitespace:
      removeTrailingWhitespace: false
  linter:
    errorPanelHeight: 22
  "linter-pep8":
    maxLineLength: 100
  "linter-pycodestyle":
    maxLineLength: 100
  "linter-python-pep8":
    pep8DirToExecutable: "/usr/local/bin/"
  "one-light-ui":
    fontSize: 10
    layoutMode: "Compact"
    tabSizing: "Minimum"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace: {}
