packages: [
  "auto-detect-indentation"
  "autocomplete-python"
  "fold-functions"
  "language-ini"
  "language-latex"
  "latex"
  "latexer"
  "linter"
  "linter-pep8"
  "linter-python-pep8"
  "markdown-preview-plus"
  "monokai"
  "package-sync"
  "python-indent"
]
